body{
  font-family: Helvetica;
  font-size: 25px;
  color: grey;

}

.title{
  margin-left: 250px;
  margin-right: 250px;
}

.text{
  font-family:PT Sans;
  margin-left: 250px;
  margin-right: 250px;
}

.backdrop{
  display: none;
  position: absolute;
  top: 200px;
}

.backdrop.showme{
  display: block;
  margin-left: 250px;
  margin-right: 250px;
  opacity: 0.2;
  transition: 15s;
}

.number{
padding: 2px;
background-color: grey;
color: #fff;
border-radius: 15px;
opacity: 0.3;
}

.number:hover{
background-color: red;
color: #fff;
opacity: 1.0;
}

.link{
padding:2px;
color: red;
opacity: 0.3;
}

.link:hover{
  color: red;
  opacity: 0.3;
  text-decoration: underline;
}

.author{
}

.author:hover{
  text-decoration: underline;
  color: red;
  opacity: 0.3;
}

.headshot{
  display: none;
  position: fixed;
  width: 200px;
  top: 0px;
  left: 10px;
}

.headshot.showme{
  display: inline-block;
  width: 20px;
  position: absolute;
  margin-left: 10px;

}

.footnote {
position: fixed;
font-family:PT Sans;
width: 200px;
top: 200px;
left: 15px;
display: none;
}

.footnote.showme {
  color: red;
  background-color: white;
  display: block;
  margin-left: 15px;
  font-size: 15px;
}

.thumbnail{
  width: 150px;
  left: 10px;
  transition: 2s;
}

.thumbnail.enlarge {
  transition: 2s;
  margin-left: 10px;
}
