*{
  box-sizing:border-box;
}


@import "compass/css3";

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 100px none;
}

.header-proper{
  width: 80%;
  margin: 0 auto;

}
.scroll-line{
  height: 100px;
  margin-bottom: -100px;
  background-image: linear-gradient( to right, #3fa9f5, #ff7bac );

  width: 0%;
}

.content{
  padding: 100px 0;
  margin: 0 auto;
  width: 80%;
}
.headline{
  font-size: 60px;
  line-height: 66px;
}


.box{
  width:100%;
  background-color: black;
  z-index: 99;
}


html, body {
	width: 100vw;
	height: 0;
	margin: 0;
	padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

body{
  z-index: 99;
  background-color: rgba(140, 140, 217, 1);
}

  strong{
    text-transform: uppercase;
  }


.info{
top: 20px;
left: 20px;
position: fixed;
z-index: 100;
opacity: 0.5;
}

.mation{
  top: 110px;
  left: 65px;
  width: 250px;
  height: 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  position: fixed;
  display: none;
  z-index: 100;
  background-color: white;
  border-radius: 00px 10px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.mation.showme{
  display: block;
}

.menutop1{
  width: 100%;
  height: 50px;
  background-color: black;
}

.title{
  height: 50px;
  top: 270px;
  margin-left: 30vw;
  position: absolute;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-family: 'Nova Script', cursive;
  font-weight: bold;
  font-size: 40px;
  z-index: 99;
  -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
    animation-name: title;
    animation-duration: 20s;
    animation-iteration-count:infinite;
    transform-origin: bottom;
    animation-play-state:running;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    cursor: none;
}
  @keyframes title {

    0% {transform: skewX(0deg);   }
    33% {transform: skewX(80deg); }
    66% {transform: skewX(-80deg); }
    100% {transform: skewX(0deg); }
}

.title:hover{
  animation-play-state: paused;
  animation-delay: 20s;
}


.stickTop1st {
    position:fixed;
    top: 0px;
    z-index:998;
}


.linework{
  width: 78%;
  top: 600px;
  position: absolute;
  margin-left: 9.5%;
  pointer-events: none;
  z-index: 1;
}
.left.showme{
  width: 1000px;
  top: 600px;
  position: absolute;
  margin-left: 120px;
  pointer-events: none;
  z-index: 2;
  transition: 3s;
  opacity: 0.9;
}
.left.click{
  width: 1000px;
  top: 600px;
  position: absolute;
  margin-left: 120px;
  pointer-events: none;
  z-index: 2;
  opacity: 0.9;
}

.left{
  margin-left: -350;
  transition: 3s;
  opacity: 0.1;
}

.right.showme{
  width: 1000px;
  top: 600px;
  position: absolute;
  left: 120px;
  pointer-events: none;
  z-index: 3;
  transition: 3s;
  opacity: 0.9;
}

.right.click{
  width: 1000px;
  top: 600px;
  position: absolute;
  left: 120px;
  pointer-events: none;
  z-index: 3;
  opacity: 0.9;
}

.right{
  margin-left: 120;
  left: 350px;
  transition: 3s;
  opacity: 0.1;
}


.pink{
  color: #fff;
  background-color: rgba(255, 123, 172, 0.5);
  height: 200px;
  width: 800px;
  border-radius: 200px 0px 0px 200px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 20px;
  padding-top: 40px;
  position: absolute;
  font-family: 'Nova Script', cursive;
  font-size: 20px;
  text-align: left;
  letter-spacing: 1px;
  margin-left: 200px;
  margin-right: 200px;
  top: 860px;
  transform:translateX(850px);
  transition: 3s;
  z-index: 5;
}

.pink.showme{
  transition: 1s;
  transform:translateX(325px);
  color: #fff;
}
.pink:hover{
  transition: 3s;
  transform:translateX(325px);
  color: #3fa9f5;
  cursor: pointer;
}

.blue{
  color: #fff;
  background-color: rgba(63, 169, 245, 0.5);
  height: 200px;
  width: 800px;
  border-radius: 0px 200px 200px 0px;
  padding: 90px;
  padding-left: 20px;
  padding-right: 65px;
  position: absolute;
  font-family: 'Nova Script', cursive;
  font-size: 20px;
  text-align: right;
  letter-spacing: 2px;
  margin-left: 200px;
  margin-right: 200px;
  top: 1010px;
  transform:translateX(-730px);
  transition: 3s;
  z-index: 4;
}

.blu{
  color: #3fa9f5;
  font-weight: bold;
  text-transform: uppercase;
}

.blue.showme{
  transition: 1s;
  transform:translateX(-250px);
  color: #fff;
}

.blue:hover{
  transition: 3s;
  transform:translateX(-250px);
  color: #ff7bac;
  cursor: pointer;
}

.maybe{
  color: #3fa9f5;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  position: absolute;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.3;
  text-align: left;
  margin-left: 240px;
  margin-right: 2000px;
  background-color: white;
  cursor:   col-resize;
  top: 1570px;
  transition: 3s;
  z-index: 9;
  -webkit-clip-path: polygon(65% 0, 81% 0, 52% 100%, 37% 100%);
clip-path: polygon(65% 0, 81% 0, 52% 100%, 37% 100%);

}
.maybe:hover{
transition: 3s;
color: white;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
background-color: #3fa9f5;
}

.maybe.showme{
transition: 3s;
color: white;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
background-color: #3fa9f5;
}



.man{
  top: 1350px;
  width: 900px;
  display: inline-block;
  background-image: url("assets/images/sculpture.png");
  position: absolute;
  margin-left: 110px;
  pointer-events: none;
  z-index: 8;
  opacity: 0.5;

}



.intro{
  color: #ff7bac;
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 2px;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: .3px;
  left: 430px;
  width: 410px;
  padding-right: 20px;
  cursor:   col-resize;
  text-align: left;
  margin-left: 320px;
  margin-right: 200px;
  background-color: white;
  top: 1760px;
  transition: 5s;
  z-index: 10;
  -webkit-clip-path: polygon(23% 0, 36% 0, 30% 100%, 15% 100%);
clip-path: polygon(23% 0, 36% 0, 30% 100%, 15% 100%);
}

.intro:hover{
transition: 4s;
color: white;
-webkit-clip-path: polygon(0 100, 500% 0, 200% 100%, 0 100%);
clip-path: polygon(0 0, 200% 0, 500% 200%, 0 200%);
background-color: #ff7bac;
}

.intro.showme{
transition: 4s;
color: white;
-webkit-clip-path: polygon(0 100, 500% 0, 200% 100%, 0 100%);
clip-path: polygon(0 0, 200% 0, 500% 200%, 0 200%);
background-color: #ff7bac;
}


}

.spin{
  transform: rotate(360deg);

}

em{
  display: inline-block;
  animation-name: magic;
  -webkit-animation-name: magic; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: magic;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    transform-origin: center;
    animation-play-state:running;
    animation-timing-function: ease-in-out;


}



  @keyframes magic {
    0% {transform:translateX(-2px); opacity: 1;}
    50% {transform:translateX(1px); opacity: 0}
    100% {transform:translateX(-2px); opacity: 1}
  }


  .trace{
    width: 39%;
    margin-left: 55.5%;
    position: absolute;
    z-index: 4;
    opacity: 0.08;
    transition: 5s;
    pointer-events: none;
  }

  .trace:hover{
    transition: 5s;
    opacity: 1.0;
  }

  .trace.showme{
    transition: 5s;
    opacity: 1.0;
  }

  .hair{
    width: 39%;
    margin-left: 55.5%;
    position: absolute;
    z-index: 3;
    opacity: .8;
    cursor:  cell;
  }

p, h1{
  z-index: 100;

}

.text{
  width: 90%;
  background-color: rgba(157, 124, 212, .5);
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: black;
  letter-spacing: -0.01em;
  line-height: .9;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 65px;
  padding-top: 65px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 65px;
  top: 2150px;
  z-index: 1;
}

.open{
  animation-name: opening;
  animation-duration: 7s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

@keyframes opening {
  0% { letter-spacing: -1px; }
  50% {letter-spacing: 1.5px; }
  100% {letter-spacing: -1px; }
}


.noir{
  width: 34%;
  margin-left: 60%;
  padding-top: 65px;
  position: absolute;
  transition: 5s;
  cursor: pointer;
  opacity: 0.8;
}



.noir-blue{
  width: 34%;
  margin-left: 60%;
  position: absolute;
  display: none;
  transition: 5s;
}
.noir-blue.showme{
  opacity: 0.5;
  display: block;
}


.noir-pink{
  width: 34%;
  margin-left: 60%;
  position: absolute;
  display: none;
  transition: 5s;
  cursor: n-resize;
}
.noir-pink.showme{
  opacity: 0.5;
  display: block;
}
