* {
  box-sizing: border-box;
}


/* Start here */

body {
width: 100vw;
background: black;
}


.heading{
  font-family: 'VT323', monospace;
  font-size: 4.5em;
  text-align: justify;
  width: 500px;
  margin-left: 20px;
  border-bottom: 6px solid #921714;
  color: #921714;
}

.nav ul{
position: fixed;
width: 100px;
right: 0px;
top: 20px;
font-family: 'VT323', monospace;
font-size: 18px;
list-style-type: none;
margin: 5px;
}

.nav a{
  text-decoration: none;
  color: white;
  padding-bottom: 20px;
}

.nav a:hover{
  text-decoration: underline;
  color: grey;
}

.nav a:active{
  text-decoration: underline;
  color: black;
}

.active a{
  color: #921714;
  text-decoration: underline;

}

.about{
  font-family: 'VT323', monospace;
  font-size: 18px;
  width: 510px;
  position: fixed;
  margin-left: 18px;
  margin-top: 5px;
  padding: 10px;
  color: #921714;
}


.item{

}

.title{
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  margin-left: 1%;
  margin-top: .8%;
  color: #bd7372;
}

.time{
  display: inline-block;
  position: fixed;
  font-family: 'VT323', monospace;
  width: 100vw;
  top: 215px;
  text-align: center;
  font-size: 10em;
  color: #fff;
  opacity: 0.8;
  z-index: 3;
}


  .ig{
    font-family:'VT323', monospace;
    position: fixed;
    font-size: 28px;
    z-index: 98;
    color: #fff;
    top: 520px;
    left: 1%;
  }

  .dj{
    font-family:'VT323', monospace;
    position: fixed;
    font-size: 28px;
    z-index: 98;
    color: #fff;
    top: 520px;
    left: 51%;

  }

.container{
  display: flex;
  position: absolute;
  flex-wrap:wrap;
  align-items: flex-end;
  width: 50vw;
  left: 0px;
  top: 200px;
  z-index: 0;
}

.container2{
  display: flex;
  position: absolute;
  flex-wrap:wrap;
  width: 50vw;
  left: 50vw;
  top: 200px;
  z-index: 0;
}

.frame{
  margin-bottom: -34px;
  border-top: 50px solid black;
  border-bottom: 50px solid black;

}

.item {

}
  .item img {
    max-width: 100%;
  }

  .col1of5 {
    flex: 0 0 20%;
  }

  .col2of5 {
    flex:0 0 40%;
  }

  .col3of5 {
    flex:0 0 100%;
  }

  .col4of5 {
    flex:0 0 80%;
  }
