

  * {
    box-sizing: border-box;
  }


  /* Start here */

  body {
  width: 100vw;
  background: black;
  }


  .item{

  }


  .ig{
    font-family:'VT323', monospace;
    position: fixed;
    font-size: 18px;
    transform: rotate(90deg);
    z-index: 98;
    color: white;
    top: 70px;
    right: 38px;
    cursor: w-resize;

  }


    .dj{
      font-family:'VT323', monospace;
      position: fixed;
      font-size: 18px;
      z-index: 98;
      color: white;
      top: 255px;
      right: 130px;
      cursor: w-resize;

    }



  .time{
    display: inline-block;
    position: fixed;
    font-family:'VT323', monospace;
    width: 100vw;
    font-size: 3em;
    letter-spacing: 5px;
    text-align: right;
    right: 40px;
    bottom: 20px;
    color: #ffff;
    z-index: 3;
  }


  .nav ul{
  position: fixed;
  width: 100px;
  right: 0px;
  top: 20px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  list-style-type: none;
  margin: 5px;
  }

  .nav a{
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
  }

  .nav a:hover{
    text-decoration: underline;
    color: grey;
  }

  .nav a:active{
    text-decoration: underline;
    color: black;
  }

  .active a{
    color: #921714;
    text-decoration: underline;

  }


  .container{
    display: flex;
    position:absolute;
    flex-wrap:wrap;
    align-items: flex-end;
    width: 90vw;
    left: 0px;
    top: -5px;
    z-index: 0;
    background-color: #000000;
    opacity: 1.0;

  }

  .container2{
    display: flex;
    position: absolute;
    flex-wrap:wrap;
    align-items: flex-end;
    width: 90vw;
    left: 0px;
    top: -5px;
    z-index: 0;
    background-color: #000000;
    opacity: 0;
  }

  .container2:hover{
    opacity: 1.0;
    cursor: e-resize;
  }

  .frame{
    border: 10px solid transparent;
    margin-top: 7.5px;
    margin-bottom: 7.5px;

  }

  .r1, .r2, .r3, .r4, .r5, .r6{
  }

  .item {

  }
    .item img {
      max-width: 100%;
    }

    .col1of5 {
      flex: 0 0 50%;
    }

    .col2of5 {
      flex:0 0 40%;
    }

    .col3of5 {
      flex:0 0 60%;
    }

    .col4of5 {
      flex:0 0 80%;
    }
